*{
    padding: 0;;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background: #fbb697;
}
nav{
    position: fixed;
    padding:2vh 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 10px solid #fff;
    width: 100%;
    
}
nav .logo > img {
    overflow: hidden;
    width: 100px;
    border-radius: 50%;
}
nav .menu {
    display: flex;
    align-items: center;
    gap: 3vw;
}
nav .menu  > a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

nav .signin  > a {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
nav .signin {
    display: flex;
    align-items: center;
    gap: 2vw;
}
.page1{
    width: 100%;
    height: 100%;
    padding: 0 5vw;
}
.page1 .empty{
    width: 100%;
    height: 20%;
}
.page1 .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page1 .right {
    width: 70%;
    
}
.page1 .content .right > p {
    font-family: "Great Vibes", cursive;
    font-size: 30px;
    font-weight: 500; 
    padding: 3% 1% 5% 1%;
    color: #c35c2a;
}
.page1 .content .right > h3 {
    font-size: 45px;
    font-family: "Noto Serif Oriya", serif;
    padding: 3% 5% 4% 8%;
} 
.page1 .content .right > h3 >p{
    font-size: 25px;
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    color: #c35c2a;
} 
.page1 .content .right > h3 >p > i{
    font-size: 20px ;
    color:#fbb697;
    background-color: #000;
    padding: 10px 2px ;
    border-radius: 6px;
    margin-left: 10px;
    scale: 1.1;
}

.page1 .content .right button{
    display: flex;
    justify-content: center;
    margin-left: 45% ;
    color: #fbb697;
    padding: 18px 40px;
    font-size: 20px ;
    font-family: "Great Vibes", cursive;
    border: none;
    background-color: #000;
    border-radius: 18px;
    box-shadow: 3px 3px 25px #c35c2a;
}
.page1 .content .right .lower{
    display: flex;
    align-items: center;
}
.page1 .content .right .lower > img {
    width: 250px;
    border-radius: 25px;
    box-shadow: 5px 5px 30px #c35c2a;
    
}
.page1 .content .right .lower > h3{
    line-height: 30px;
    padding: 10px 30px 20px 30px;
    font-family: "Noto Serif Oriya", serif;
    font-size: 25px ;
    font-weight: 600;
}
.page1 .content .right .lower > h3 >p{
    font-size: 25px;
    font-family: "Great Vibes", cursive;
    font-weight: 600;
    color: #c35c2a;
} 

.page1 .left{
    width: 30%;
    padding: 20px ; 
}
.page1 .left .off {
    transform: translatey(100px);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #f9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #fbb697;
    padding: 5%;
    
}
.page1 .left .off > h5{
    font-size: 25px;
    padding: 5%;
    margin: 10%;
}
.page1 .left > img {
    width: 90%;
    overflow: hidden;

    border-radius: 165px;
    box-shadow: 5px 15px 45px #c35c2a;
}


.page2 {
    width: 100%;
    margin-top: 8%;
}
.page2 .upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page2 .upper > h1{
    font-family: "Noto Serif Oriya", serif;
    font-size: 3.5vw;
    font-weight: 500;
}
.page2 .upper > h3 {
    font-family: "Great Vibes", cursive;
    font-size: 25px;
    font-weight: 600;
    color: #c35c2a;
}

.page2 .lower .box {
    width: 400px;
    height: 480px;
    background-color:#ff9a6a;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 150px 150px 0 0 ;
    box-shadow: 5px 10px 35px rgba(18, 18, 18, 0.612);
}
.page2 .lower .box > h1{
    font-size: 30px;
    font-family: "Noto Serif Oriya", serif;
    font-weight: 500;
    opacity: 0.7;
}
.page2 .lower .box > h3{
    font-family: "Noto Serif Oriya", serif;
    font-size: 25px ;
    font-weight: 600;
}
.page2 .lower .box > img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    overflow: hidden; 
}

.page2 .lower {
    display: flex;
    justify-content: center;
    /* align-items: center;  */
    gap : 2vw;
    margin-top: 2vh;
}
.page2 .lower .left .box1 > img{
    scale: 0.8;
}
.page2 .lower .middle > h1 {
    font-family: "Great Vibes", cursive;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    color: #c35c2a;
    rotate: -5deg;
    padding: 8vh 3vw;
}
.box2 > img{
    scale: 1.3;
    padding-bottom: 20px;
}
.box3 > img {
    scale : 1.3;
}

.page3 {
    width: 100%;
    margin-top: 8%;
}
.page3 .upper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page3 .upper > h1{
    font-family: "Noto Serif Oriya", serif;
    font-size: 3.5vw;
    font-weight: 500;
}
.page3 .upper > h3 {
    font-family: "Great Vibes", cursive;
    font-size: 25px;
    font-weight: 600;
    color: #c35c2a;
}

.page3 .lower .box {
    width: 400px;
    height: 480px;
    background-color:#ff9a6a;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 150px 150px 0 0 ;
    box-shadow: 5px 10px 35px rgba(18, 18, 18, 0.612);
}
.page3 .lower .box > h1{
    font-size: 30px;
    font-family: "Noto Serif Oriya", serif;
    font-weight: 500;
    opacity: 0.7;
}
.page3 .lower .box > h3{
    font-family: "Noto Serif Oriya", serif;
    font-size: 25px ;
    font-weight: 600;
}
.page3 .lower .box > img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    overflow: hidden; 
}

.page3 .lower {
    display: flex;
    justify-content: center;
    align-items: end; 
    gap : 2vw;
    margin-top: 2vh;
}
.page3 .lower .left .box1 > img{
    scale: 0.8;
}
.page3 .lower .middle > h1 {
    font-family: "Great Vibes", cursive;
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    color: #c35c2a;
    rotate: -5deg;
    padding: 8vh 3vw;
}
.page3 .box2 > img{
    scale: 1.1;
    padding-bottom: 20px;
}
.page3 .box3 > img {
    scale : 0.9;
}

.page4{
    width: 100%;
    /* height: 100%; */
    display: flex;
}
.page4 .left {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    justify-content: center;

}
.page4 .left > h1 {
    font-family: "Great Vibes", cursive;
    font-size: 35px;
    font-weight: 500;
    color: #c35c2a;
}
.page4 .middle {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: center;
    justify-content: center;
}
.page4 .middle > h1{
    font-family: "Noto Serif Oriya", serif;
    font-size: 55px;
    font-weight: 300;
}
.page4 .middle > h3{
    font-family: "Noto Serif Oriya", serif;
    font-size: 25px;
    font-weight: 400;
}
.page4 .middle > button{
    font-size: 20px;
    font-family: "Noto Serif Oriya", serif;
    color:#fbb697;
    background-color: #c35c2a;
    border: none;
    padding: 16px 25px ;
    border-radius: 20px;
}
.page4 .right {
    padding-top: 10%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    justify-content: center;
}
.page4 .right > h1 {
    font-family: "Great Vibes", cursive;
    font-size: 35px;
    font-weight: 500;
    color: #c35c2a;
    padding-bottom: 8%;
}
.page4 .right >img {
    width: 200px;
    border-radius: 100px;
    box-shadow: 5px 15px 35px rgba(0, 0, 0, 0.631);
}
.page5 {
    padding: 0 6vw;
    width: 100%;
    /* height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .page5 .left {
    width: 40%;
} */
.page5 .left >img {
    width: 300px;
    border-radius: 200px;
}
#image2{
    transform: translate(-180px,30px);
}
.page5 .right {
    width: 50%;
}
.page5 .right > h1 {
    font-size: 50px ;
    font-family: "Noto Serif Oriya", serif;
    font-weight: 400;
    padding: 30px 20px 30px 0;
}
.page5 .right > h3 {
    font-size: 25px;
    font-family: "Noto Serif Oriya", serif;
    font-weight: 400;
}
.page5 .right > button {
    font-size: 20px ;
    font-family: "Noto Serif Oriya", serif;
    font-weight: 600;
    color: #fbb697;
    background-color:#c4531a;
    border: none;
    padding: 20px 30px ;
    border-radius: 20px 0 20px 0;
    transform: translate(34vw , 2vw);
}
.page6 {
    width: 100%;
    height: 100%;
    padding: 0 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page6 .left {
     width: 30%;
} 
.page6 .left .box {
    width: 100px;
    height: 400px;
    background-color: #ff9a6a;
    border-radius: 20px;
}
.page6 .left .box2 {
    width: 300px;
    height: 300px;
    background: #fff;
    transform: translate(-150px ,50px );
    border-radius: 20px;
}
.page6 .left .box2 >img {
    width: 200px;
    border-radius: 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.397);
}
.page6 .right > h1 {
    font-size: 45px;
    font-family: "Noto Serif Oriya", serif;
    font-weight: 400;
}
.page6 .right > h3 {
    font-size: 25px ;
    font-family: "Noto Serif Oriya", serif;
    font-weight: 400;
}
.page6 .right .lower {
    padding-top: 20px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.page6 .right .slide {
    display: flex;
    gap : 1.5vw ;
}
.page6 .right .dot {
    width: 25px;
    height: 25px;
    background: #f9d9d9;
    border-radius: 50%;
}
.page6 .right .dot2 {
    background-color: #ff9a6a;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.345);
} 
.page6 .right .lower > button {
    font-size: 20px;
    font-family: "Noto Serif Oriya", serif;
    font-weight: 400;
    padding: 20px 30px;
    color: #fbb697;
    background-color: #c35c2a;
    border: none;
    border-radius: 20px 0 20px 0;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer >h1 {
    font-size: 36px;
    font-family: "Noto Serif Oriya", serif;
    font-weight: 400;
}
footer > h4 {
    font-family: "Noto Serif Oriya", serif;
    font-size: 15px;
    flex-wrap: 300;
    color: #000000a0;
    padding-bottom: 20px;
}
footer .lower{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}
footer .lower > h3 {
    font-family: "Noto Serif Oriya", serif;
    font-size: 20px;
    font-weight: 600;
    padding-right: 10px;
}
footer .lower >h4 {
    font-family: "Noto Serif Oriya", serif;
    font-size: 18px;
    font-weight: 500;
    border-right: 3px solid rgba(0, 0, 0, 0.674);
    padding: 2px 8px;
    color: hsla(0, 0%, 0%, 0.737);
}
footer > h3 {
    font-family: "Noto Serif Oriya", serif;
    font-size: 16px;
    font-weight: 500;
    padding: 20px 0;
}
